@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  margin: 0;
  font-family: "Mulish", sans-serif;
}
body {
  padding: 30px 80px;
}
nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-title {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}

.nav-logo span {
  color: #ff5400;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 44px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}

.active {
  color: #ff5400;
  font-weight: 800;
}

.banner {
  margin-top: 50px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../assets/Group 13 (1) (1).png");
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner-title {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 24px;
}
.banner-disc {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
  width: 700px;
  margin-bottom: 48px;
}

.input-container {
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  gap: 24px;
  width: 100%;
}

select {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  padding: 14px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  outline: none;
}

input {
  width: 174px;
  height: 23px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  padding: 14px;
  color: rgba(19, 19, 24, 0.5);
  background: #fff;
  outline: none;
}

option {
  color: #131318;
  font-weight: 800;
}

.btn-search {
  border-radius: 8px;
  background: #ff5400;
  border: none;
  width: 150px;
  height: 52px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.non {
  display: none;
}

section {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.popular-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.popular-info ul {
  margin-left: -20px;
}

.popular-info > ul > li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}

.popular-info,
.popular-Img {
  width: 50%;
}

.info-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.info-disc {
  margin-top: 24px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}

.bottom-disc {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
}

.read-btn {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  border: none;
}

.section-info {
  text-align: center;
}

.section-info h1 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.section-info p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 600px;
  margin: auto;
  margin-bottom: 50px;
}

.grid-item1 {
  width: 573px;
  height: 300px;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../assets/Rectangle 5.png");
  background-position: center;
  background-size: cover;
}
.grid-item2 {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../assets/Rectangle 8.png");
  width: 573px;
  height: 300px;
  background-position: center;
  background-size: cover;
}
.grid-item3 {
  background: url("../assets/Rectangle 6.png");
  width: 374px;
  height: 286px;
  background-position: center;
  background-size: cover;
}
.grid-item4 {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../assets/Rectangle 7.png");
  width: 474px;
  height: 286px;
  background-position: center;
  background-size: cover;
}
.grid-item5 {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../assets/Rectangle 9.png");
  width: 274px;
  height: 286px;
  background-position: center;
  background-size: cover;
}
.grid-item6 {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../assets/Rectangle 11.png");
  width: 473px;
  height: 300px;
  background-position: center;
  background-size: cover;
}
.grid-item7 {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../assets/Rectangle 10.png");
  width: 673px;
  height: 300px;
  background-position: center;
  background-size: cover;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.item h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.card {
  padding: 34px;
  width: 500px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.card img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  margin-bottom: 23px;
}

.card h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}

.card p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.card-map {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.card-price {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

.card-ban {
  background: url("../assets/Rectangle 12.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1170px;
  height: 500px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 50px;
  border-radius: 16px;
  margin-bottom: 24px;
}
.card-ban2 {
  background: url("../assets/Rectangle 12 (1).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1170px;
  height: 500px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 50px;
  border-radius: 16px;
  margin-bottom: 24px;
}

.card-item {
  width: 500px;
  height: 330px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  padding: 50px;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.flex p {
  color: #5a5a5d;
  font-size: 20px;
  font-weight: 400;
}

.flex i {
  color: #ff5400;
  font-size: 20px;
}

.flex-info {
  margin: 26px;
}

.tour-title {
  color: #131318;
  font-size: 20px;
  font-weight: 800;
}
.tour-info {
  margin-top: 16px;
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}
.tour-price {
  color: #ff5400;
  font-size: 20px;
  font-weight: 800;
}

.btn-book {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  border-radius: 8px;
  background: #ff5400;
  width: 150px;
  height: 52px;
  border: none;
  margin-top: 25px;
}

.btnseeall {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  border-radius: 8px;
  background: #ff5400;
  width: 170px;
  height: 32px;
  padding: 20px;
}

.btn-wrp {
  display: flex;
  justify-content: center;
}

.simple-place-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.simple-place-info {
  width: 50%;
}

.simple-place-info h1 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
}
.simple-place-info p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.simple-place-info > ul > li {
  color: #131318;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-left: -20px;
  margin-top: 24px;
}

.btnseeMore {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  width: 174px;
  height: 52px;
  border: none;
  border-radius: 8px;
  background: #ff5400;
  margin-top: 32px;
}

.simple-place-img {
  background: url("../assets/Group 40089.png");
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.img-title {
  margin: auto;
  width: 80%;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.Newsletter-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.from {
  width: 50%;
  height: auto;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
}
.newsletter-Img {
  width: 50%;
  height: 422px;
  border-radius: 16px;
  background: url("../assets/Rectangle 8 (1).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.frominfo {
  border-bottom: 1px solid rgba(19, 19, 24, 0.1);
  padding-bottom: 24px;
}

.frominfo h1 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}

.frominfo p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 350px;
}

.new-input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  width: 95%;
  height: 20px;
  margin-top: 16px;
}
.btn-subscribe {
  margin-top: 24px;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  border: none;
}

.travel-btn {
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
  border-radius: 16px;
  background: #ff5400;
  position: absolute;
  bottom: 49px;
  border: none;
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  right: 9px;
}

.travel-btn span {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  display: block;
}

@media screen and (max-width: 592px) {
  .none {
    display: none;
  }
  body {
    padding: 10px;
  }
  .banner {
    height: auto;
    padding: 50px 0;
  }

  .input-container {
    margin: 10px;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
    gap: 16px;
    margin: auto;
  }

  select {
    width: 100%;
  }
  input {
    width: 87%;
  }
  .banner-title {
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 24px;
  }
  .banner-disc {
    color: #fff;
    width: 300px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  .logo-title {
    font-size: 20px;
  }

  .logoImg {
    width: 28.724px;
    height: auto;
  }
  .non {
    display: inline;
  }
  .fa-bars {
    font-size: 24px;
  }
  .popular-container {
    flex-direction: column;
    margin: auto;
  }
  .popular-info {
    margin: auto;
    width: 100%;
  }

  .popular-Img {
    width: 100%;
  }
  .popular-Img img {
    width: 100%;
  }

  .info-title {
    font-size: 20px;
  }
  .info-disc {
    font-size: 14px;
  }
  .item {
    width: 100%;
  }
  .section-info {
    width: 100%;
  }
  .section-info h1 {
    font-size: 24px;
  }
  .section-info p {
    width: 100%;
    font-size: 14px;
  }
  .card {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    height: auto;
  }
  .card img {
    margin-top: 20px;
  }
  .card-ban {
    background: url("../assets/Rectangle 12.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  .card-ban2 {
    background: url("../assets/Rectangle 12 (1).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  .card-item {
    width: 80%;
    height: auto;
    padding: 8px 0px;
  }
  .card-item p {
    font-size: 12px;
    line-height: 20px;
  }
  .card-item i {
    font-size: 15px;
  }
  .flex {
    padding: 0 35px;
    flex-wrap: wrap;
  }
  .simple-place-container {
    flex-direction: column;
  }
  .simple-place-info {
    width: 100%;
  }
  .simple-place-img {
    width: 100%;
    border-radius: 16px;
  }
  .img-title {
    width: 100%;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
  }
  .simple-place-info h1 {
    color: #131318;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
  }

  .Newsletter-container {
    flex-direction: column;
  }

  .from {
    width: 95%;
    height: auto;
    border-radius: 16px;
    border: 1px solid #ff5400;
    padding: 10px;
  }
  .newsletter-Img {
    width: 100%;
    height: 422px;
    border-radius: 16px;
    background: url("../assets/Rectangle 8 (1).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .frominfo {
    border-bottom: 1px solid rgba(19, 19, 24, 0.1);
    padding-bottom: 24px;
    padding: 10px;
  }

  .frominfo h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
  }

  .frominfo p {
    color: #5a5a5d;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 100%;
  }

  .new-input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 90%;
    height: 20px;
    margin-top: 16px;
  }
  .btn-subscribe {
    margin-top: 24px;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background: #ff5400;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    border: none;
  }

  .travel-btn {
    width: 90%;
    height: 120px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #ff5400;
    position: absolute;
    bottom: 49px;
    border: none;
    color: #fff;
    font-size: 21px;
    font-weight: 800;
    right: 9px;
  }

  .travel-btn span {
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    display: block;
  }
}
